<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
<title>My tsjrt</title>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description" content="Chartered A/C Multipurpose HTML" />
<meta name="keywords" content="chartered accountant, ca, CA, accounting, advisory, broker, brokerage, business, coaching, company, consulting, corporate, finance, financial, insurance, law office, lawyer, professional services" />
<meta name="author"  content="TemplateBundle"/>
<meta name="MobileOptimized" content="320" />
<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>
</head>
<body>

<!--header end-->
<!--Welcome note start-->
{% block body %}{% endblock body %}
<!--Our Clients end-->


<!--main js file start-->

</body>
</html>